---
import Section from "@/components/section.astro"
import {projects} from "@cv/db_es.json"
const proyectos = projects.map(p => p.name);
---

<Section title="proyectos">
    {proyectos.join(", ")}
</Section>