---
import {skills} from "@cv/db_es.json"

const perfiles = skills.map(s => s.name);

---

<section>

    <h2>Skills</h2>
        <h3>
            Hardskills
        </h3>
            {perfiles.join(", ")}


</section>