---
import {skills} from "@cv/db_es.json"

---

<section>

    <h2>Skills</h2>
        <h3>
            hardskills
        </h3>
            {
                skills.map(({name}) =>
                    <p>{name}</p>
            )
            }


</section>