---
import Section from "@/components/section.astro"
import {skills} from "@cv/db_es.json"

const perfiles = skills.map(s => s.name);

---

<Section title="Skills">
        <h3>
            Hardskills
        </h3>
            {perfiles.join(", ")}
        <div class="container"></div>


</Section>