---
import cvdata from "@cv/db_es.json"

const hero = cvdata.basics

---

<section>

    <h2>Hero</h2>
    <img src={hero.image} alt="Avatar del curriculum">
    <p>{hero.name}</p>
    <p>{hero.label}</p>
    

</section>