---

const {title} = Astro.props

---


<section>
    <header>
        { title && <h2>{title}</h2>}
    </header>
    <article> 
        <slot />
    </article>
</section>

<style>
	section {

    }

    article{

    }

</style>