---

const {title} = Astro.props

---


<section>
    <header>
        { title && <h2>{title}</h2>}
    </header>
    <slot />
</section>

<style>
	section {
        margin: 2rem 0;
        padding: 2rem;
    }

    section h2 {
        font-size: 32px;
        border-bottom: 2px solid #222;
    }
</style>