---

const {title} = Astro.props

---


<section>
    <header>
        { title && <h2>{title}</h2>}
    </header>
    <article>
        <slot />

    </article>

</section>

<style>
	section {
        margin: 0 auto 10px;
        max-width: 700px;
    }

    article{
        color: #444;
    }

</style>