<h2>Skills</h2>

              <ul class="skills">
                <li>Node.js</li>
                <li>Angular</li>
                <li>React</li>
                <li>TypeScript</li>
                <li>PHP</li>
                <li>CSS3</li>
                <li>Python</li>
                <li>Flask</li>
                <li>TensorFlow</li>
                <li>Astro</li>
                <li>REST API</li>
                <li>SQL</li>
                <li>MongoDB</li>
                <li>Tailwind CSS</li>
                <li>Jest</li>
                <li>Azure</li>
                <li>Microsoft 365</li>
                <li>GIT</li>
                <li>Jira</li>
                <li>Photoshop</li>
              </ul>
              <hr>
              <ul class="skills">
                <li>Teamwork</li>
                <li>Empathy</li>
                <li>Perfectionist</li>
                <li>Responsible</li>
                <li>Creativity</li>
                <li>Adaptability</li>
                <li>Commitment</li>
                <li>Communication</li>
                <li>Proactivity</li>
                <li>Organization</li>
              </ul>